[submodule "test_submodule"]
	path = test_submodule
	url = https://github.com/MahmoudRizk/test_submodule.git
[submodule "test_submodule_2"]
	path = test_submodule_2
	url = https://github.com/MahmoudRizk/test_submodule_2
